body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr{
    width: 460px;
}

h1 {
    font-size: medium;
}

.box {
    width: 48px;
    height: 48px;
    border-radius: 17%;
    margin: 1px;
    font-size: x-large ;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white
}

.box-def {
    background-color: gray;
}

.box-usr {
    background-color: #A59B66;
    color: black;
}

.box-wrong {
    color:red;
}

.hline {
    margin:0;
    border: solid gray;
    border-bottom: 0;
}
.vline {
    margin:0;
    border: gray solid;
    border-radius: 100px;
    border-left: 0;
    height: auto;
    width: 1px;
}

#board {
    width: 458px;
    height: 455px;
    background-color: black;
    border-radius: 2%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#digits {
    width: 455px;
    height: 50px;
    border-radius: 3%;
    background-color: blueviolet;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

